<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalog Products</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <main>
      <div id="products"></div>
    </main>

    <script>
      const fetchProductsHtml = async () => {
        const response = await fetch("http://localhost:3000/api/products");

        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        const products = await response.json();
        const productsWrapper = document.querySelector("#products");

        const productsTags = products.map((e) => {
          return `<a href="products/${e.id}">${e.name}</a>`;
        });
        productsWrapper.innerHTML = productsTags;
      };
      fetchProductsHtml();
    </script>
  </body>
</html>
