
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <div id="products">new test</div>
    </main>

    <script>
      // need to create via js file

      const getProducts = async () => {
        try {
          const products = await knex("products")
            .select("id", "description")
            .limit(10);
          return products
            .map(
              (e) =>
                e.description &&
                `<section><div>${
                  e.id + " " + e.description
                }</div><div>_</div></section>`
            )
            .join("");
        } catch (error) {
          console.error("Error fetching products:", error);
        } finally {
          knex.destroy();
        }
      };

      const fetchProductsHtml = async () => {
        const productsHtml = await getProducts();
        const productsWrapper = document.querySelector("#products");
        productsWrapper.innerHTML = productsHtml;
        return productsHtml;
        console.log('run');
      };
      fetchProductsHtml();

      
    </script>
  </body>
</html>
